@model Post
@{
    Layout = "../_Layout.cshtml";
}
<div class="prose-sm">
    <p>
        <i>Published Date: @Model.PublishedDate</i>
        <i>Last Updated Date: @Model.UpdatedDate</i>
        <div class="flex flex-row flex-wrap gap-1 place-content-center">
            @foreach (var tag in Model.Tags)
            {
                <div class="flex-initial border-2 border-black p-2 m-2 border rounded-xl">
                    <a role="button" href="/tags/@tag" class="badge text-black bg-grey-light no-underline"> @tag</a>
                </div>
            }
        </div>
    </p>
</div>

<div class="grid grid-cols-2">
    <h2 class="col-span-2">What I read</h2>
    <img src="@Model.CoverImageLink" alt="Book Cover"></img>
    <div class="pl-4">

        <p>@Model.BookTitle</p>

        <p>
            <a href="@Model.AmazonLink">Buy it on Amazon</a>
        </p>

        <p>@Model.Pages pages</p>

        <p>
            Authors:
            @foreach (var author in Model.Authors)
            {
                <a href="@author.Link">@author.Name</a>
            }
        </p>

        <p>Rating: @Model.Rating / 5</p>
    </div>
    <div class="col-span-2">
        @RenderBody()
    </div>
</div>
