@model Post
@{
    Layout = "../_Layout.cshtml";
}
<div class="prose-sm">
    <p>
        <i>Published Date: @Model.PublishedDate.ToString("dd-MMM-yyyy")</i>
        <i>Last Updated Date: @Model.UpdatedDate.ToString("dd-MMM-yyyy")</i>
        <div class="flex flex-row flex-wrap gap-1 place-content-center">
            @foreach (var tag in Model.Tags)
            {
                var path = new NormalizedPath($"/tags/{tag}").OptimizeFileName().ToString();

                <div class="flex-initial border-2 border-black p-2 m-2 border rounded-xl">
                    <a role="button" href="@path" class="badge text-black bg-grey-light no-underline">@tag</a>
                </div>
            }
        </div>
    </p>
</div>

<div class="grid md:grid-cols-2 grid-cols-1">
    <h2 class="md:col-span-2">What I read</h2>
    <img src="@Model.CoverImageLink" alt="Book Cover"></img>
    <div class="pl-4">

        <p>@Model.BookTitle</p>

        <p>
            <a href="@Model.AmazonLink">Buy it on Amazon</a>
        </p>

        <p>@Model.Pages pages</p>

        <p>
            Authors:
            @for (var index = 0; index < Model.Authors.Count; index++)
            {
                var author = Model.Authors[index];
                if (index > 0)
                {
                    <span>and</span>
                }
                <a href="@author.Link">@author.Name</a>
            }
        </p>

        <p>Rating: @Model.Rating / 5</p>
    </div>
    <div class="md:col-span-2">
        @RenderBody()
    </div>
</div>
