@model BaseModel
@{
    var type = Model.PageUrl.StartsWith("/blog/")
        ? "article"
        : "website";
}

<title>@Model.SiteTitle - @Model.PageTitle</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="/assets/styles.css" rel="stylesheet"/>
<meta name="description" content="@Model.Description"/>
<link rel="canonical" href="@Model.CanonicalUrl"/>

@* Google / Search Engine Tags *@
<meta itemProp="name" content="@Model.PageTitle"/>
<meta itemProp="description" content="@Model.Description"/>
@if (Model.ImageFacebook != null)
{
    <meta itemProp="image" content="@Model.ImageFacebook"/>
}
@* OpenGraph tags *@
<meta property="og:url" content="@Model.PageUrl"/>
<meta property="og:type" content="@type"/>
<meta property="og:title" content="@Model.PageTitle"/>
<meta property="og:description" content="@Model.Description"/>
@if (Model.ImageFacebook != null)
{
    <meta property="og:image" content="@Model.ImageFacebook"/>
    <meta property="og:image:secure_url" content="@Model.ImageFacebook"/>
}

@* Twitter Card tags  *@
<meta name="twitter:card" content="summary_large_image"/>
@* <meta name="twitter:creator" content={twitterUsername}/> *@
<meta name="twitter:title" content="@Model.PageTitle"/>
<meta name="twitter:description" content="@Model.Description"/>
@if (Model.ImageTwitter != null)
{
    <meta name="twitter:image" content="@Model.ImageTwitter"/>
    <meta name="twitter:image:secure_url" content="@Model.ImageTwitter"/>
}
