---
Title: All Summaries
---

@model Posts

@{
    // const int numberOfRecentPosts = 5;
    var sortedPosts = Model.AllPosts.OrderBy(x => x.Document.GetTitle()).ToList();
    // var recentPosts = Model.AllPosts.OrderByDescending(x => x.Document.GetLastUpdatedDate()).ToList().Take(numberOfRecentPosts);
}

@* <h2> @numberOfRecentPosts Most Recent Summmaries</h2> *@
@* @foreach (var post in recentPosts) *@
@* { *@
@*     var authors = string.Join(", ", post.Document.GetAuthors().Select(x => x.Name)); *@
@*     <div> *@
@*         <a href="@post.Document.GetPageUrl()" class="mb-4">@post.Document.GetTitle()</a><span> by @authors</span> *@
@*     </div> *@
@* } *@
@* *@
@* <h2>Alphabetical (@sortedPosts.Count)</h2> *@

@foreach (var post in sortedPosts)
{
    var authors = string.Join(", ", post.Document.GetAuthors().Select(x => x.Name));
    <div>
        <a href="@post.Document.GetPageUrl()" class="mb-4">@post.Document.GetTitle()</a><span> by @authors</span>
    </div>
}
