@model Post

<div class="grid grid-cols-2 shadow-md mb-10 items-center bg-gray-200">
    <a href="@Model.Url" class="ml-4 mr-4">
        <img src="@Model.CoverImageLink" alt="Book Cover" class="w-72 max-w-xs"/>
    </a>

    <div class="ml-4 mr-2 flex flex-col">
        <a href="@Model.Url" class="text-center">@Model.PageTitle</a>
        <div class="font-semibold">Author(s): @string.Join(" and ", Model.Authors.Select(x => x.Name))</div>
        <div class="font-semibold">Rating: @Model.Rating / 5 </div>
        <p class="pr-2">
            @Model.Description
        </p>
        <p>
            <a href="@Model.Url">Read the Summary, Takeaways and Recommendation</a>
        </p>
    </div>
</div>
