@model BaseModel

@{
    Layout = "../_Layout.cshtml";
}

<div class="prose-sm italic">
    <div class="flex sm:flex-row justify-evenly items-center text-sm">
        <p class="mr-4">Last Updated on <time datetime="@Model.Document.GetLastUpdatedDate().ToString("yyyy-MM-dd")">@Model.Document.GetLastUpdatedDate().ToString("MMM dd, yyyy")</time></p>
        <p>
            Estimated Reading Time: <span  class="font-bold">@Model.Document.GetReadingTime().RoundedMinutes min</span>
        </p>
    </div>

    <div class="flex flex-row flex-wrap gap-1 place-content-center">
        @foreach (var tag in Model.Document.GetTags())
        {
            var path = new NormalizedPath($"/tags/{tag}").OptimizeFileName().ToString();
            <a href="@path" class="block flex-initial border-2 border-black m-2 rounded-xl p-2 bg-gray-200 shadow-md">@tag</a>
        }
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2">
    <h2 class="md:col-span-2">What I read</h2>
    <img src="@Model.Document.GetCoverImageLink()" width="400" alt="Book Cover"/>
    <div class="pl-4">

        <p>@Model.Document.GetBookTitle()</p>

        <p>
            <a href="@Model.Document.GetAmazonLink()">Buy it on Amazon</a>
        </p>

        <p>@Model.Document.GetNumberOfPages() pages</p>

        <p>
            Authors:
            @for (var index = 0; index < Model.Document.GetAuthors().Count; index++)
            {
                var author = Model.Document.GetAuthors()[index];
                if (index > 0)
                {
                    <span>and</span>
                }
                <a href="@author.Link">@author.Name</a>
            }
        </p>

        <p>Rating: @Model.Document.GetRating() / 5</p>
    </div>
    <div class="md:col-span-2">
        @RenderBody()
    </div>
</div>

@await Html.PartialAsync("../partials/_SocialShareBar.cshtml")

@await Html.PartialAsync("../partials/_RelatedPosts.cshtml")

@* @await Html.PartialAsync("../partials/_Subscribe.cshtml")*@

<footer>
    @await Html.PartialAsync("../partials/_Comments.cshtml")
</footer>
@section Scripts{
    @* <div class="flex items-center space-x-3 flex-col mt-8 pt-4 border-2"> *@
    @*     <h2>Did you learn something or find this summary interesting?</h2> *@
    @*     <a role="button" class="p-2 m-2 inline-flex items-center bg-green-400 text-white rounded-md text-2xl drop-shadow-lg transition duration-500 ease-in-out hover:bg-green-800 transform hover:scale-110 flex-grow" target="_blank" rel="noopener noreferrer" href="https://www.buymeacoffee.com/ankursheel"> *@
    @*         <img class="h-8 mr-2 border-none" src="/assets/bmc-logo.svg" alt="Buy Me A Coffee"> *@
    @*         Buy me a book *@
    @*     </a> *@
    @* </div> *@

    @* <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="@Model.Context.GetBuyMeACoffeeUsername()" data-description="Support me on Buy me a coffee!" data-message="Did you learn something or find this summary interesting? Buy me a coffee" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script> *@
}
